# AWS
AWS_ACCESS_KEY_ID="X"
AWS_SECRET_ACCESS_KEY="X+X"
AWS_SESSION_TOKEN="X/X+X/X//////////X/X/X+X/X/X+X+X+X+X/X+X+X/X/X/X+X+X+X+X+X+X+X/X/X/X=="

# Drizzle
DATABASE_URL="postgres://root:mysecretpassword@localhost:5433/local"

# Twitch
TWITCH_CLIENT_ID="X"
TWITCH_CLIENT_SECRET="X"
TWITCH_EXTENSION_OWNER_ID="X"
TWITCH_EXTENSION_CLIENT_ID="X"
TWITCH_EXTENSION_SECRET="X="

# Mail
MAIL_FORWARD_TO="X"
